apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: managed-tools

resources:
  - namespace.yaml
  - harbor-helmchart.yaml
  - harbor-helmchartconfig.yaml

commonLabels:
  app: harbor
  managed-by: gitops
