apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: managed-tools

resources:
  # Wazuh Indexer components
  - wazuh-indexer-configmap.yaml
  - wazuh-indexer-secret.yaml
  - wazuh-indexer-security-policy.yaml
  - wazuh-indexer-statefulset.yaml
  - wazuh-indexer-service.yaml
  
  # Wazuh Server (Manager) components
  - wazuh-server-configmap.yaml
  - wazuh-server-secret.yaml
  - wazuh-server-statefulset.yaml
  - wazuh-server-service.yaml
  
  # Wazuh Dashboard components
  - wazuh-dashboard-configmap.yaml
  - wazuh-dashboard-secret.yaml
  - wazuh-dashboard-deployment.yaml
  - wazuh-dashboard-service.yaml
  - wazuh-dashboard-ingress.yaml

commonLabels:
  app: wazuh
  managed-by: gitops
